Oi #{h(@attendance.full_name)},



Existe uma pendência no pagamento da sua inscrição na #{@attendance.event.name}. Caso não seja regularizada até #{7.days.from_now}, sua inscrição será automaticamente cancelada.



Caso a pendência já tenha sido regularizada, favor entrar em contato com a organização - #{mail_to APP_CONFIG[:organizer][:contact_email]}



Esperamos encontrá-lo no #{@attendance.event.name} entre os dias #{l(@attendance.event.start_date)} e #{l(@attendance.event.end_date)}.



Sinceramente,

Comitê de organização do Agile Brazil.



Qualquer dúvida, entre em contato através do email #{mail_to APP_CONFIG[:organizer][:contact_email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]