Oi #{h(@attendance.full_name)},



Existe uma pendência no pagamento da sua inscrição na #{@attendance.event_name}. Caso não seja regularizada até #{@attendance.due_date.to_date.strftime('%d/%m/%Y')} as #{Time.zone.now.strftime('%H:%M')}, sua inscrição será automaticamente cancelada.

- if @attendance.event.full?
  #{@attendance.event_name} está cheio e agora temos uma fila de espera. Caso você não complete a sua inscrição a tempo e o nosso sistema automático a cancele, você precisará submeter uma nova inscrição, que o colocará nesta fila.

Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:


= attendance_url(@attendance, :locale => 'pt')


Caso a pendência já tenha sido regularizada, favor entrar em contato com a organização - #{mail_to @attendance.event.main_email_contact}



Esperamos encontrá-lo em #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')}.



Sinceramente,

Comitê de organização da conferência #{@attendance.event_name}.



Qualquer dúvida, entre em contato através do email #{mail_to @attendance.event.main_email_contact}




[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]