Dear #{h(@attendance.full_name)},



We noticed that you have a pending payment for #{@attendance.event.name}. If that payment is not realized until #{7.days.from_now} we, unfortunately, will have to cancel your registration (ID #{@attendance.id}) due to the expiration of the payment deadline.



If you already settled your registration payment, please contact us - #{mail_to APP_CONFIG[:organizer][:contact_email]}.



We hope to meet you in Brasília between #{l(@attendance.event.start_date)} and #{l(@attendance.event.end_date)}.



Sincerely,
Agile Brazil's organizing committee.



If you have any questions, please contact us at #{APP_CONFIG[:organizer][:contact_email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
