%p Oi #{h(@attendance.full_name)},

%p Agradecemos o seu interesse pela #{@attendance.event.name}, mas infelizmente cancelamos a sua inscrição (ID #{@attendance.id}) devido ao vencimento do prazo de pagamento.

%p Caso a pendência já tenha sido regularizada, favor nos enviar o comprovante do paypal ou do bcash que restauraremos sua inscrição.

%p Lembre-se que você poderá se inscrever novamente e completar esse novo registro. Esperamos encontrá-lo no #{@attendance.event.name} entre os dias #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')} e #{@attendance.event.end_date.to_date.strftime('%d/%m/%Y')}.

%p
  Sinceramente,
  Comitê de organização do Agile Brazil.

%p Qualquer dúvida, entre em contato através do email #{mail_to APP_CONFIG[:organizer][:contact_email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]