Oi #{h(@attendance.full_name)},


Agradecemos o seu interesse pelo #{@attendance.event_name}, mas infelizmente cancelamos a sua inscrição (ID #{@attendance.id}) devido ao vencimento do prazo de pagamento.


Caso a pendência já tenha sido regularizada, favor nos enviar o comprovante do PagSeguro ou da transferência bancária que restauraremos sua inscrição.


Lembre-se que você poderá se #{link_to('inscrever novamente', new_event_attendance_url(event_id: @attendance.event.id, locale: :pt))} e completar esse novo registro.


Esperamos encontrá-lo em #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')}.


Sinceramente,
Comitê de organização da conferência #{@attendance.event_name}


Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}




[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]