%p Oi #{h(@attendance.full_name)},

%p Existe uma pendência no pagamento da sua inscrição na conferência #{@attendance.event_name}. Caso não seja regularizada até #{@attendance.due_date.to_date.strftime('%d/%m/%Y')}, sua inscrição será automaticamente cancelada.

%p Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:

%p= link_to attendance_url(@attendance, :locale => 'pt'), attendance_url(@attendance, :locale => 'pt')

%p Caso a pendência já tenha sido regularizada, favor entrar em contato com a organização - #{mail_to @attendance.event.main_email_contact}

%p Esperamos encontrá-lo no #{@attendance.event_name} em #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')}.

%p
  Sinceramente,
  Comitê de organização da conferência #{@attendance.event_name}.

%p Qualquer dúvida, entre em contato através do email #{mail_to @attendance.event.main_email_contact}

%small= '[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]'
