Dear #{h(@attendance.full_name)},


Thank you for your interest on #{@attendance.event_name}, but, unfortunately, we had to cancel your registration (ID #{@attendance.id}) due to the expiration of the payment deadline.


If you already settled your registration payment, please contact us with your payment confirmation so we can restore your registration.


Remeber if you still want to register, you can #{link_to('fill in the form once again', new_event_attendance_url(event_id: @attendance.event.id, locale: :en))} and complete the new registration. We hope to meet you, between #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')} and #{@attendance.event.end_date.to_date.strftime('%d/%m/%Y')}.


Sincerely,
#{@attendance.event_name}'s organizing commitee.


If you have any questions, please contact us at #{@attendance.event.main_email_contact}


[Please do not reply to this e-mail. It was sent from an unmonitored email address]