Dear #{h(@attendance.full_name)},



We noticed that you have a pending payment for #{@attendance.event_name}. If that payment is not realized until #{@attendance.due_date.to_date.strftime('%d/%m/%Y')} we, unfortunately, will have to cancel your registration (ID #{@attendance.id}) due to the expiration of the payment deadline.


In order to complete the registration process, please follow the instructions on the page:


= attendance_url(@attendance, :locale => 'en')


If you already settled your registration payment, please contact us - #{mail_to @attendance.event.main_email_contact}.



We hope to meet you in Brasília between #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')} and #{@attendance.event.end_date.to_date.strftime('%d/%m/%Y')}.



Sincerely,
#{@attendance.event_name}'s organizing committee.



If you have any questions, please contact us at #{@attendance.event.main_email_contact}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
