%p Oi #{h(@attendance.full_name)},

%p Existe uma pendência no pagamento da sua inscrição na #{@attendance.event.name}. Caso não seja regularizada até #{@attendance.due_date.to_date.strftime('%d/%m/%Y')}, sua inscrição será automaticamente cancelada.

%p Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:

%p= link_to attendance_url(@attendance, :locale => 'pt'), attendance_url(@attendance, :locale => 'pt')

%p Caso a pendência já tenha sido regularizada, favor entrar em contato com a organização - #{mail_to APP_CONFIG[:organizer][:contact_email]}

%p Esperamos encontrá-lo no #{@attendance.event.name} entre os dias #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')} e #{@attendance.event.end_date.to_date.strftime('%d/%m/%Y')}.

%p
  Sinceramente,
  Comitê de organização do Agile Brazil.

%p Qualquer dúvida, entre em contato através do email #{mail_to APP_CONFIG[:organizer][:contact_email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
