%p Oi #{h(@attendance.full_name)},

%p Agradecemos o seu interesse pelo #{@attendance.event_name}, mas infelizmente cancelamos a sua inscrição (ID #{@attendance.id}) devido ao vencimento do prazo de pagamento.

%p Caso a pendência já tenha sido regularizada, favor nos enviar o comprovante do PagSeguro ou da transferência bancária que restauraremos sua inscrição.

%p Lembre-se que você poderá se inscrever novamente e completar esse novo registro.

%p Esperamos encontrá-lo em #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')}.

%p
  Sinceramente,
  Comitê de organização da conferência #{@attendance.event_name}.

%p Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}

%small Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado
