%p Dear #{h(@attendance.full_name)},

%p We noticed that you have a pending payment for #{@attendance.event_name}. If that payment is not realized until #{@attendance.due_date.to_date.strftime('%d/%m/%Y')} we, unfortunately, will have to cancel your registration (ID #{@attendance.id}) due to the expiration of the payment deadline.

%p In order to complete the registration process, please follow the instructions on the page:

%p= link_to attendance_url(@attendance, :locale => 'en'), attendance_url(@attendance, :locale => 'en')

%p If you already settled your registration payment, please contact us - #{mail_to @attendance.event.main_email_contact}.

%p We hope to meet you in #{@attendance.event.start_date.to_date.strftime('%d/%m/%Y')}.

%p
  Sincerely,
  #{@attendance.event_name}'s organizing committee.

%p If you have any questions, please contact us at #{@attendance.event.main_email_contact}

%small Please do not reply to this e-mail. It was sent from an unmonitored email address