%p Hi #{h(@attendance.full_name)},

%p Your registration request to #{@attendance.event_name} was queued.

%p You can check the status in the following page, but don' worry, we will notify you if we get a free vacancy to your subscription:

%p= link_to event_attendance_url(@attendance.event, @attendance, locale: 'pt'), event_attendance_url(@attendance.event, @attendance, locale: 'pt')

%p Keep this e-mail and link for future reference.

%p
  %strong Registration number:
  = @attendance.id
%p
  %strong Status:
  = @attendance.status

%p If you have any questions, please contact us at #{mail_to @attendance.event.main_email_contact}

%small Please do not reply to this e-mail. It was sent from an unmonitored email address