%p Dear #{h(@attendance.full_name)},

%p Your registration was confirmed successfully.

- if @attendance.event.start_date.present? && @attendance.event.end_date.present?
  - if @attendance.event.start_date == @attendance.event.end_date
    %li When: #{ l(@attendance.event.start_date.to_date) }
  - else
    %li When: #{ l(@attendance.event.start_date.to_date) } #{ t('general.until')} #{l(@attendance.event.end_date.to_date) }

%p If you have any questions, please contact us at #{@attendance.event.main_email_contact}

%small Please do not reply to this e-mail. It was sent from an unmonitored email address