Car#{@attendance.male? ? 'o' : 'a'} #{h(@attendance.full_name)},



Sua inscrição na #{@attendance.event.name} foi confirmada.


= render "email_notifications/event_#{@attendance.event.id}_details"


Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:contact_email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
