Car#{@attendance.male? ? 'o' : 'a'} #{h(@attendance.full_name)},


Seu pedido de inscrição de tipo #{I18n.t(@attendance.registration_type.title)} no valor de #{number_to_currency(@attendance.registration_fee, :locale => :pt)} na #{@attendance.event.name} foi realizado com sucesso.


Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:


= attendance_url(@attendance, :locale => 'pt')


Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura, assim como seu número de inscrição:



NÚMERO DE INSCRIÇÃO: #{@attendance.id}



Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:contact_email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]