%p Oi #{h(@attendance.full_name)},

%p Seu pedido de inscrição de tipo <strong>#{I18n.t(@attendance.registration_type.title)}</strong> no valor de #{number_to_currency(@attendance.registration_value, :locale => :pt)} na #{@attendance.event.name} foi realizado com sucesso.

%p Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:

%p= link_to attendance_url(@attendance, :locale => 'pt'), attendance_url(@attendance, :locale => 'pt')

%p Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura, assim como seu número de inscrição:

%p
  %strong Número de inscrição:
  = @attendance.id

%p Qualquer dúvida, entre em contato através do email #{mail_to APP_CONFIG[:organizer][:contact_email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]