%p Dear #{h(@attendee.full_name)},

%p Your registration as #{I18n.t(@attendance.registration_type.title)} priced #{number_to_currency(@attendance.base_price, :locale => :pt)} at #{@attendance.event.name} was confirmed successfully.

%p Please look for the event registration desk starting June 27th at 7 A.M. to get your credentials. The conference will take place at Fábrica de Negócios, Av. Monsenhor Tabosa 740, Iracema beach, with entrance through Rua João Cordeiro, at Fortaleza, Ceará.

%p If you have any questions, please contact us at #{mail_to AppConfig[:organizer][:email]}

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
