Dear #{h(@attendance.full_name)},


Your registration was confirmed successfully.

- if @attendance.event.start_date.present? && @attendance.event.end_date.present?
  - if @attendance.event.start_date == @attendance.event.end_date
    When: #{ l(@attendance.event.start_date.to_date) }
  - else
    When: #{ l(@attendance.event.start_date.to_date) } #{ t('title.until')} #{l(@attendance.event.end_date.to_date) }


Informations on how to get there: #{@attendance.event.location_and_date}


If you have any questions, please contact us at #{APP_CONFIG[:organizer][:contact_email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
