<html>
  <body>
    <%= render 'email_header' %>

    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'greetings', event: @event, attendance: @attendance %>

      <p><%= I18n.t('attendances.waiting_message', event_name: @event.name) %></p>
      <p><%= I18n.t('attendances.waiting_vacancy_message') %></p>

      <%= render 'email_signature', event: @event, attendance: @attendance %>
    </div>
  </body>
</html>
