%p Car#{@attendance.male? ? 'o' : 'a'} #{h(@attendance.full_name)},

%p Sua inscrição na #{@attendance.event.name} foi confirmada.

= render "email_notifications/event_#{@attendance.event.id}_details"

%p Qualquer dúvida, entre em contato através do email #{mail_to AppConfig[:organizer][:contact_email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]