%p Oi #{h(@attendance.full_name)},

%p Seu pedido de inscrição no valor de #{number_to_currency(@attendance.registration_value, locale: :pt)} na #{@attendance.event_name} foi realizado com sucesso.

%p Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:

%p= link_to attendance_url(@attendance, locale: 'pt'), attendance_url(@attendance, locale: 'pt')

%p Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura, assim como seu número de inscrição:

%p
  %strong Número de inscrição:
  = @attendance.id

%p "Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}"

%small Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado