%p Oi #{h(@attendance.full_name)},

%p Seu pedido de inscrição para #{@attendance.event_name} entrou na nossa fila de espera.

%p Você poderá acompanhar o status na seguinte página, mas não se preocupe, o avisaremos caso tenha vaga para a sua inscrição:

%p= link_to attendance_url(@attendance, locale: 'pt'), attendance_url(@attendance, locale: 'pt')

%p Guarde esse e-mail e link para referência futura.

%p
  %strong Número de inscrição:
  = @attendance.id
%p
  %strong Status:
  = @attendance.status

%p Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}

%small Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado