Car#{@attendance.male? ? 'o' : 'a'} #{h(@attendance.full_name)},


Seu pedido de inscrição no grupo #{h(@group.name)} para a #{@attendance.event.name} foi realizado com sucesso.


Instruções para completar o processo de inscrição serão enviadas para o organizador do seu grupo assim que todos os participantes se inscreverem.


Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:contact_email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]