= semantic_form_for([@event, @period]) do |form|
  = form.inputs :event_basics do
    = form.input :title, required: true, input_html: { tabindex: autotab }
    = form.input :price, required: true, input_html: { tabindex: autotab }
    = form.input :start_at, as: :string, required: true, input_html: { tabindex: autotab, class: 'datepicker' }
    = form.input :end_at, as: :string, required: true, input_html: { tabindex: autotab, class: 'datepicker' }

  = form.actions do
    %div{class: 'row'}
      %span{class: 'col-xs-2'}
        = form.action(:submit, label: t('general.buttons.save'), button_html: { tabindex: autotab, class: 'btn btn-success' })
