- if current_user.try(:organizer?) || current_user.try(:admin?)
  %h4= t('reistration_periods.list')

  - if event.registration_periods.present?
    %table.table
      %th= t('formtastic.labels.registration_period.id')
      %th= t('formtastic.labels.registration_period.title')
      %th= t('formtastic.labels.registration_period.start_at')
      %th= t('formtastic.labels.registration_period.end_at')
      %th= t('formtastic.labels.registration_period.value')
      %th= t('general.actions.title')

      - @event.registration_periods.each do |period|
        %tr{ id: "period_#{period.id}" }
          %td= period.id
          %td= period.title
          %td= l(period.start_at, format: :date)
          %td= l(period.end_at, format: :date)
          %td= number_to_currency period.price
          %td
            = link_to event_registration_period_path(event, period), method: :delete, class: 'btn btn-link' do
              %span{ class: 'far fa-trash-alt' }
            = link_to edit_event_registration_period_path(event, period), class: 'btn btn-link' do
              %span{ class: 'far fa-edit' }
  - else
    %h5= t('events.show.no_periods_message')
