- if current_user.try(:organizer?) || current_user.try(:admin?)
  %h4= t('reistration_periods.index.title')

  - if event.registration_periods.present?
    %table.table
      %th= RegistrationPeriod.human_attribute_name :id
      %th= RegistrationPeriod.human_attribute_name :title
      %th= RegistrationPeriod.human_attribute_name :start_at
      %th= RegistrationPeriod.human_attribute_name :end_at
      %th= RegistrationPeriod.human_attribute_name :value
      %th= t('general.actions.title')

      - @event.registration_periods.each do |period|
        %tr{ id: "period_#{period.id}" }
          %td= period.id
          %td= period.title
          %td= l(period.start_at, format: :date)
          %td= l(period.end_at, format: :date)
          %td= number_to_currency period.price
          %td
            = link_to event_registration_period_path(event, period), method: :delete, class: 'btn btn-link' do
              %span{ class: 'far fa-trash-alt' }
            = link_to edit_event_registration_period_path(event, period), class: 'btn btn-link' do
              %span{ class: 'far fa-edit' }
  - else
    %h5= t('general.no_data')
