= semantic_form_for([@event, @group]) do |form|
  = form.inputs :group_basics do
    = form.input :name, required: true, input_html: { tabindex: autotab }
    = form.input :discount, input_html: { tabindex: autotab }
    = form.input :amount, input_html: { tabindex: autotab }
    = form.input :minimum_size, input_html: { tabindex: autotab }
    = form.input :automatic_approval, default: false

  = form.actions do
    = form.action(:submit, label: :new_group, button_html: { tabindex: autotab, class: 'btn btn-success submit' })