%div{class: 'container-fluid'}
  %div{class: 'row'}
    %div{class: 'col-xs-12'}
      %span= link_to t('events.index.title'), list_archived_events_path
      %span= '< '
      %span= link_to @event.name, event_path(@event)
      %span= '<'
      %span= link_to t('registration_groups.index.title'), event_registration_groups_path(@event)
      %span= '<'
      %span= @group.name

  %div{class: 'row'}
    %div{class: 'col-xs-12'}
    %h3= t('registration_groups.edit.title')

%div{class: 'row'}
  %div{class: 'col-xs-12'}
    = form_for [@event, @group], class: 'form-horizontal' do |form|
      = render 'form', f: form

%hr

%section
  %div
    = render partial: 'registration_groups/groups_list', locals: { event: @event }
