%div{class: 'row'}
  %div{class: 'col-xs-8 col-md-offset-2'}
    %div= link_to 'ALL EVENTS', list_archived_events_path
    %h4= "#{t('registration_group.edit.title')} - #{sanitize(link_to @event.name, event_path(@event))}"


%div{class: 'row'}
  %div{class: 'col-xs-8 col-xs-offset-2'}
    = form_for [@event, @group], class: 'form-horizontal' do |form|
      = render 'form', f: form

%hr

%section
  %div
    = render partial: 'registration_groups/groups_list', locals: { event: @event }
