= semantic_form_for([@event, @new_group]) do |form|
  = form.input :name, required: true, input_html: { tabindex: autotab }
  = form.input :discount, required: true, input_html: { tabindex: autotab }
  = form.input :minimum_size, required: true, input_html: { tabindex: autotab }

  = form.actions do
    = form.action(:submit, label: :new_group, button_html: { tabindex: autotab })

- title t('registration_group.list', event_name: @event.name)

%table.summary
  %th= t('formtastic.labels.registration_group.name')
  %th= t('formtastic.labels.registration_group.leader')
  %th= t('formtastic.labels.registration_group.discount')
  %th= t('formtastic.labels.registration_group.minimum_size')
  %th= t('formtastic.labels.registration_group.token')
  %th= t('formtastic.labels.registration_group.qtd_attendances')
  %th= t('formtastic.labels.registration_group.index.actions')
  - @groups.each do |group|
    %tr
      %td= link_to group.name, event_registration_group_path(@event, group)
      %td= group.leader_name
      %td= group.discount
      %td= group.minimum_size
      %td= group.token
      %td= group.qtd_attendances
      %td= link_to t('actions.destroy'), event_registration_group_path(@event, group), method: :delete
