%h3= t('registration_group.show.title', group_name: @group.name)

%h5= "#{RegistrationGroup.human_attribute_name(:discount)}: #{number_with_precision(@group.discount, precisiom: 2)}"
%h5= "#{RegistrationGroup.human_attribute_name(:minimum_size)}: #{@group.minimum_size}"
%h5= "#{RegistrationGroup.human_attribute_name(:capcity)}: #{@group.capacity}"
%h5= "#{RegistrationGroup.human_attribute_name(:amount)}: #{number_to_currency(@group.amount, locale: 'pt-BR')}"

%h5 #{ number_to_currency @group.total_price }

%h5= RegistrationGroup.human_attribute_name(:attendances)

= render partial: 'attendances/attendances_list', locals: { attendances_list: @attendance_list }
