%h3 Instruções para completar o processo de inscrição

.payments
  .payment_type.left
    %h4 OPÇÃO 1: Pague com BCash
    %ol
      %li
        Efetue o pagamento no valor de #{number_to_currency(attendance.registration_fee, :locale => :pt)}:
        %p
          = form_tag AppConfig[:bcash][:url] do
            - vars = build_bcash_variables(attendance, attendance_status_url(attendance, :locale => 'pt', :protocol => 'https'), payment_notifications_url(type: 'bcash'))
            - vars.each do |key, value|
              = hidden_field_tag key, value
            = image_submit_tag 'https://a248.e.akamai.net/f/248/96284/12h/www.bcash.com.br/webroot/img/bt_comprar.gif', alt: "Pague com BCash"

  .payment_type.right
    %h4 OPÇÃO 2: Pague com PayPal
    %ol
      %li
        Efetue o pagamento no valor de #{number_to_currency(attendance.registration_fee, :locale => :pt)}:
        %p
          = form_tag AppConfig[:paypal][:url] do
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, paypal_encrypted_attendee(attendance, attendance_status_url(attendance, :locale => 'pt', :protocol => 'https'), payment_notifications_url(:secret => AppConfig[:paypal][:secret]))
            = image_submit_tag "https://www.paypal.com/pt_BR/i/btn/btn_paynow_SM.gif"
            = link_to_function image_tag("https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif", :border => "0", :alt => "Pague com PayPal"), "javascript:window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"

%hr/

%h3 Importante

- deadline = attendance.registration_date.to_date + 5
%p Após o dia #{I18n.l([attendance.registration_period.end_at.to_date, deadline].max)}, o valor da inscrição será atualizado conforme a tabela disponível em #{link_to "http://www.agilebrazil.com/2013/pt/inscricao", "http://www.agilebrazil.com/2013/pt/inscricao"}.
