%tr{ id: "user_#{user.id}" }
  %td= link_to "#{user.last_name}, #{user.first_name}", user_path(user), method: :get
  %td= user.email
  %td{class: 'centered'}
    - user.roles.each do |role|
      = link_to "x #{role}", self.send("toggle_#{role}_user_path", user), class: 'btn-sm btn-primary', remote: true, method: :patch
  %td{class: 'centered'}
    - unless user.admin?
      = link_to '+ admin', toggle_admin_user_path(user), class: 'btn-sm btn-danger', remote: true, method: :patch
    - unless user.organizer?
      = link_to '+ organizer', toggle_organizer_user_path(user), class: 'btn-sm btn-primary', remote: true, method: :patch
