%div{id: 'users_list'}
  %div{class: 'row'}
    %div{class: 'col-lg-2 centered table-title'}
      = t('activerecord.attributes.user.name')
    %div{class: 'col-lg-4 centered table-title'}
      = t('activerecord.attributes.user.email')
    %div{class: 'col-lg-3 centered table-title'}
      = t('activerecord.attributes.user.roles')
    %div{class: 'col-lg-3 centered table-title'}
      = t('general.actions.title')

    - @users_list.each do |user|
      = render 'user', user: user