%div.form-group
  %div{class: 'row'}
    %div{class: 'col-xs-8'}
      = text_field_tag :search, params[:search], placeholder: t('users.index.search.placeholder'), size: 50, class: 'form-control'
    %div{class: 'col-xs-4'}
      = select_tag :roles, options_for_select(['guest', 'organizer', 'admin', 'admin e organizer']), { include_blank: t('users.index.role.placeholder') }
  %div{class: 'row'}
    %div{class: 'col-xs-4'}
      = link_to 'Search', '#', onclick: 'submitSearch();', class: 'btn btn-primary search-button'

%hr

= render partial: 'users_list'

= javascript_include_tag 'users/index'
