- title t('title.profile', username: @user.full_name)

.profile
  %ul.list-group
    - [:first_name, :last_name, :email, :phone, :country, :state, :city, :organization, :twitter_user, :default_locale].each do |attribute|
      %li.list-group-item
        = t("activerecord.attributes.attendance.#{attribute}") + ': '
        %strong= @user.send(attribute)
  - if can? :edit, @user
    = link_to t('users.show.edit.button'), edit_user_path(@user), class: 'btn btn-primary'

.attendances
  %h3= t('event.attendance.list')
  - @user.events.each do |event|
    %ul.event.list-group
      - @user.registrations_for_event(event).each do |attendance|
        %li.list-group-item
          .status
            = link_to "#{event.name}: #{t("attendance.status.confirmed")}", event_attendance_path(event, attendance)
            - if attendance.cancellable?
              %span.badge= link_to 'X', event_attendance_path(event, attendance), method: :delete, class: 'remove', data: { confirm: t('attendance.cancel_confirmation', event: event.name) }
  - (@events_for_today).each do |event|
    %ul.event
      %li= link_to t('event.attendance.add', name: event.name), new_event_attendance_path(event), class: 'add_attendance'
.clear

.user-auth.providers
  %h3= t('authentication.list')
  .auth_providers
    - @user.authentications.each do |authentication|
      %div.thumbnail
        = image_tag "#{authentication.provider}_64.png", size: '64x64'
        %span= t("authentication.providers.#{authentication.provider}")
        .uuid
          %strong= authentication.uid
.clear

- providers = Authentication::PROVIDERS - @user.authentications.map(&:provider)
- unless providers.empty?
  .providers
    %h3= t('authentication.add')
    = render partial: 'shared/providers', locals: { providers: providers }
