<div class="breadcrumb">
  <div class="row">
    <div class="col-xl-12">
      <%= link_to t('events.index.title'), events_path %>
      >
      <%= I18n.t('users.show.title') %>
    </div>
  </div>
</div>

<%= render 'users/user_details', user: @user %>

<hr />

<%= render 'attendances/attendances_list', attendances_list: @user.attendances.order(created_at: :desc), attendances_list_csv: AttendanceExportService.to_csv(@user.attendances.order(created_at: :desc)), list_title: t('attendances.index.title') %>

<%= render 'attendances/attendances_list', attendances_list: @user.registrations_for_other_users.order(created_at: :desc), attendances_list_csv: AttendanceExportService.to_csv(@user.registered_attendances.order(created_at: :desc)), list_title: t('attendances.index.other_attendances') %>
