- if current_user.try(:organizer?) || current_user.try(:admin?)
  %h4= t('reistration_quotas.index')

  - if event.registration_quotas.present?
    %table.table
      %th= RegistrationQuota.human_attribute_name :id
      %th= RegistrationQuota.human_attribute_name :order
      %th= RegistrationQuota.human_attribute_name :quota
      %th= RegistrationQuota.human_attribute_name :value
      %th= t('registration_quotas.index.attendances')
      %th= t('general.actions.title')
      - @event.registration_quotas.each do |quota|
        %tr{ id: "quota_#{quota.id}" }
          %td= quota.id
          %td= quota.order
          %td= quota.quota
          %td= number_to_currency quota.price
          %td= quota.attendances.active.count
          %td
            = link_to event_registration_quota_path(event, quota), method: :delete, class: 'btn btn-link' do
              %span{ class: 'far fa-trash-alt' }
            = link_to edit_event_registration_quota_path(event, quota), class: 'btn btn-link' do
              %span{ class: 'far fa-edit' }

  - else
    %h5= t('general.no_data')