- if current_user.try(:organizer?) || current_user.try(:admin?)
  %h4= t('reistration_quotas.list')

  - if event.registration_quotas.present?
    %table.table
      %th= t('formtastic.labels.registration_quota.id')
      %th= t('formtastic.labels.registration_quota.order')
      %th= t('formtastic.labels.registration_quota.quota')
      %th= t('formtastic.labels.registration_quota.value')
      %th= t('formtastic.labels.registration_quota.active_attendances')
      %th= t('general.actions.title')
      - @event.registration_quotas.each do |quota|
        %tr{ id: "quota_#{quota.id}" }
          %td= quota.id
          %td= quota.order
          %td= quota.quota
          %td= number_to_currency quota.price
          %td= quota.attendances.active.count
          %td
            = link_to event_registration_quota_path(event, quota), method: :delete, class: 'btn btn-link' do
              %span{ class: 'far fa-trash-alt' }
            = link_to edit_event_registration_quota_path(event, quota), class: 'btn btn-link' do
              %span{ class: 'far fa-edit' }

  - else
    %h5= t('events.show.no_quotas_message')