%h4
  = "#{t('registration_quotas.edit.title')} - "
  %span= link_to @event.name, @event


= render partial: 'form'

%hr

%section
  %div
    = render partial: 'registration_quotas/quotas_list', locals: { event: @event }
