%div.badge-container
  %div.badge-item
    %div.first #{t('formtastic.labels.attendance.full_name')}:
    %div.last= attendance.full_name
  %div.badge-item
    %div.first #{t('formtastic.labels.attendance.id')}:
    %div.last= attendance.id
  %div.badge-item
    %div.first #{t('formtastic.labels.attendance.status')}:
    %div.last= t("attendance.status.#{attendance.status}") if attendance.status.present?
