%ul.spaced
  %li.first #{t('formtastic.labels.attendance.full_name')}:
  %li.full_name= attendance.full_name
%ul.spaced
  %li.first #{t('formtastic.labels.attendance.id')}:
  %li.id= attendance.id
%ul.spaced
  %li.first #{t('formtastic.labels.attendance.status')}:
  %li.status= t("attendance.status.#{attendance.status}") if attendance.status.present?