%h5= t('invoices.show.title')

%table.table
  %th= Invoice.human_attribute_name :name
  %th= Invoice.human_attribute_name :created_at
  %th= Invoice.human_attribute_name :user
  %th= Invoice.human_attribute_name :status
  %th= Invoice.human_attribute_name :amount
  %th= t('general.actions.title')

  %tr
    %td= @invoice.name
    %td= l @invoice.created_at
    %td= @invoice.user.try(:full_name)
    %td= @invoice.status.capitalize
    %td= number_to_currency @invoice.amount
    %td= link_to t('actions.renew'), renew_invoice_event_registration_group_path(@event, @group), method: :put
