- if @invoice.payment_type == Invoice::GATEWAY || @invoice.payment_type.blank?
  .payments
    - if @attendance.present?
      %h4= "#{t(:'registration.payment.request.text', value: number_to_currency(@attendance.registration_value, locale: :pt)) }"
    - else
      %h4= "#{t(:'registration.payment.request.text', value: number_to_currency(@invoice.amount, locale: :pt)) }"

    .payment_type.left
      %p
        = form_tag checkout_event_payment_path(event_id: @event, id: @invoice), method: :post do
          = image_submit_tag 'https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif', alt: 'Pague com PagSeguro', class: 'pagseguro'

- if @invoice.payment_type == Invoice::DEPOSIT
  %p Você optou por depósito bancário. Assim que o comprovante de depósito for enviado, a organização do evento confirmará sua inscrição

- if @invoice.payment_type == Invoice::STATEMENT
  %p Você optou por pagar através de nota de empenho. A organização entrará em contato com você para confirmar a inscrição.
