.payments
  %h3= "#{t(:'registration.payment.request.text', value: number_to_currency(@invoice.amount, locale: :pt)) }"

  .payment_type.left
    %h4= t(:'registration.payment.request.option_one')
    %ol
      %li
        %p
          = form_tag AppConfig[:pag_seguro][:url], method: :post do
            - vars = pag_seguro_variables(@invoice, event_registration_group_url(@event, @group, locale: 'pt'), payment_notifications_url(type: 'bcash', secret: AppConfig[:bcash][:secret]))
            - vars.each do |key, value|
              = hidden_field_tag key, value
            = image_submit_tag 'https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif', alt: 'Pague com PagSeguro'

  .payment_type.right
    %h4= t(:'registration.payment.request.option_two')

    %ol
      %li
        %p
          = form_tag AppConfig[:paypal][:url] do
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, paypal_encrypted_attendee(@invoice, event_registration_group_url(@event, @group, locale: 'pt'), payment_notifications_url(type: 'paypal', secret: AppConfig[:paypal][:secret]))
            = image_submit_tag "https://www.paypal.com/pt_BR/i/btn/btn_paynow_SM.gif"
            = link_to image_tag("https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif", border: "0", alt: "Pague com Paypal"), "https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside", target: '_blank', data: { function: "window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');" }