.auth_providers
  - providers.each do |provider|
    %div.auth_provider
      = link_to "/auth/#{provider}" do
        = image_tag("#{provider}_64.png", :size => "64x64", :alt => t("authentication.providers.#{provider}"))
        = t("authentication.providers.#{provider}")