%table.table
  %tr
    %th= Attendance.human_attribute_name :registration_date
    %th= Attendance.human_attribute_name :registration_value
  %tr
    %td= l(attendance.registration_date.to_date)
    %td= number_to_currency(attendance.registration_value, :locale => :pt)
  %tr.last
    %th= t('registration_total.total')
    %th= number_to_currency(attendance.registration_value, :locale => :pt)
