%table.table
  %tr
    %th= t('formtastic.labels.attendance.registration_date')
    %th= t('formtastic.labels.attendance.total')
  %tr
    %td= l(attendance.registration_date.to_date)
    %td= number_to_currency(attendance.registration_value, :locale => :pt)
  %tr.last
    %th= t('registration_total.total')
    %th= number_to_currency(attendance.registration_value, :locale => :pt)
