<html>
  <body>
    <%= render 'email_header' %>

    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'email_notifications_mailer/greetings', event: @event, attendance: @attendance %>

      <p><%= I18n.t('attendances.cancel_warning_registrations_first_message', event_name: @event.name, due_date: @attendance.due_date.to_date.strftime('%d/%m/%Y'), due_time: Time.zone.now.strftime('%H:%M')) %></p>

      <% if @event.full? %>
        <p><%= I18n.t('attendances.cancel_warning_registrations_full_message') %></p>
      <% end %>

      <p><%= I18n.t('attendances.cancel_warning_registrations_second_message') %></p>

      <p><%= link_to I18n.t('attendances.registrations_page'), event_attendance_url(@event, @attendance) %></p>
      <br/>
      <p><%= I18n.t('attendances.cancelled_registrations_goodbye') %></p>
      <p><%= I18n.t('attendances.event_team', event_name: @event.name) %></p>
    </div>
  </body>
</html>
