<html>
  <body>
    <%= render 'email_header' %>

    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'email_notifications_mailer/greetings', event: @event, attendance: @attendance %>

      <p><%= I18n.t('attendances.cancelled_registrations_first_message', event_name: @event.name) %></p>
      <p><%= I18n.t('attendances.cancelled_registrations_second_message') %></p>

      <p><%= link_to I18n.t('attendances.cancelled_registrations_new_registration'), new_event_attendance_url(@attendance.event.id) %></p>

      <p><%= link_to I18n.t('attendances.registrations_page'), event_attendance_url(@event, @attendance) %></p>
      <br/>
      <p><%= I18n.t('attendances.cancelled_registrations_goodbye') %></p>
      <p><%= I18n.t('attendances.event_team', event_name: @event.name) %></p>
    </div>
  </body>
</html>
