<html>
  <body>
    <%= render 'email_header' %>

    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'greetings', event: @event, attendance: @attendance %>

      <p><%= I18n.t('attendances.confirmed_message', event_name: @event.name) %></p>
      <p><%= I18n.t('attendances.confirmed_message_event_date', event_start_date: l(@event.start_date, format: :short)) %></p>

      <p><%= link_to I18n.t('attendances.registrations_page'), event_attendance_url(@event, @attendance) %></p>
      <br/>
      <p><%= I18n.t('attendances.confirmed.share') %></p>
      <p><a href="https://twibbon.com/Support/agilebrazil2022euvou">Twibbon</a></p>
      <p><%= I18n.t('attendances.confirmed.see_ya') %></p>
      <p><%= I18n.t('attendances.event_team', event_name: @event.name) %></p>
    </div>
  </body>
</html>
