<html>
  <body>
    <%= render 'email_header' %>

    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'greetings', event: @event, attendance: @attendance %>

      <p><%= I18n.t('attendances.waiting_message', event_name: @event.name) %></p>
      <p><%= I18n.t('attendances.waiting.queue_movement') %></p>
      <p><%= I18n.t('attendances.waiting_vacancy_message') %></p>

      <p><%= link_to I18n.t('attendances.registrations_page'), event_attendance_url(@event, @attendance) %></p>
      <br/>
      <p><%= I18n.t('attendances.goodbye.waiting') %></p>
      <p><%= I18n.t('attendances.event_team', event_name: @event.name) %></p>
    </div>
  </body>
</html>
