%div.event{ id: "event_#{event.id}" }
  %h3= link_to event.name, event
  - if event.start_date.present? && event.end_date.present?
    - if event.start_date == event.end_date
      %p.text-muted #{ l(event.start_date.to_date) }
    - else
      %p.text-muted #{ l(event.start_date.to_date) } #{ t('title.until')} #{l(event.end_date.to_date) }

  %div.btn-group
    = link_to new_event_attendance_path(event), class: 'btn btn-link' do
      %span{class: 'fa fa-plus-square'}
      = t('event.register.to_register_message')

    = link_to event_attendances_path(event_id: event, pending: 'pending', accepted: 'accepted', paid: 'paid', confirmed: 'confirmed'), class: 'btn btn-link' do
      %span{class: 'fa fa-list'}
      = "#{t('actions.list_attendances')} (#{event.attendances_count})"

    = link_to event_registration_groups_path(event), class: 'btn btn-link' do
      %i{class: 'fa fa-users'}
      = "#{t('actions.list_groups')} (#{event.registration_groups.count})"

    = link_to to_approval_event_attendances_path(event), class: 'btn btn-link' do
      %i{class: 'fa fa-check'}
      = "#{t('actions.to_approval')} (#{event.attendances.waiting_approval.count})"

    = link_to waiting_list_event_attendances_path(event), class: 'btn btn-link' do
      %i{class: 'fa fa-list'}
      = "#{t('actions.waiting_list')} (#{event.attendances.waiting.count})"

    = link_to edit_event_path(event), class: 'btn btn-link' do
      %span{class: 'far fa-edit'}
      = t('events.edit.button')

    = link_to event_path(event), method: :delete, class: 'btn btn-link' do
      %span{class: 'far fa-trash-alt'}
      = t('events.delete.button')