%div.event{ id: "event_#{event.id}" }
  %h3= link_to event.name, event
  - if event.start_date.present? && event.end_date.present?
    - if event.start_date == event.end_date
      %p.text-muted #{ l(event.start_date.to_date) }
    - else
      %p.text-muted #{ l(event.start_date.to_date) } #{ t('title.until')} #{l(event.end_date.to_date) }

  %div.btn-group
    = link_to new_event_attendance_path(event), class: 'btn btn-link' do
      %span{class: 'fa fa-plus-square'}
      = t('event.register.to_register_message')

    - if can? :attendances_list, Attendance
      = link_to attendances_path(event_id: event, pending: 'pending', accepted: 'accepted', paid: 'paid', confirmed: 'confirmed'), class: 'btn btn-link' do
        %span{class: 'fa fa-list'}
        = "#{t('actions.list_attendances')} (#{event.attendances.active.count})"

      = link_to event_registration_groups_path(event), class: 'btn btn-link' do
        %i{class: 'fa fa-users'}
        = "#{t('actions.list_groups')} (#{event.registration_groups.count})"

      = link_to to_approval_event_attendances_path(event), class: 'btn btn-link' do
        %i{class: 'fa fa-check-square-o'}
        = "#{t('actions.to_approval')} (#{event.attendances.waiting_approval.count})"

      = link_to event_path(event), method: :delete, class: 'btn btn-link' do
        %span{class: 'fa fa-trash'}
        = t('events.delete.button')