<div class="row">
  <% events.each do |event| %>
    <div class="col-xl">
      <div class="card event-card">
        <% if event.event_image.present? %>
          <%= image_tag event.event_image.url, class: 'card-img-top' %>
        <% else %>
          <%= image_tag 'img-empty.png' %>
        <% end %>

        <div class="card-body">
          <% if current_user&.organizer_of?(event) %>
            <h5 class="card-title"><%= link_to event.name, event_attendances_path(event) %></h5>
          <% else %>
            <h5 class="card-title"><%= event.name %></h5>
          <% end %>
          <p class="card-text small"><%= l(event.start_date.to_date) %></p>
          <p class="card-text small"><%= number_to_currency(event.registration_price_for(Attendance.new, :gateway)) %></p>

          <%= link_to new_event_attendance_path(event), class: 'event-action-item' do %>
            <i class="fa fa-plus-square"></i>
            <%= t('attendandes.new.title') %>
          <% end %>

          <% if current_user&.admin? %>
            <%= link_to event_path(event), class: 'float-right' do %>
              <i class="fas fa-cogs"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
