<div class="row">
  <div class="col-xl-4">
    <div class="card" style="width: 18rem;">
      <% if event.event_image.present? %>
        <%= image_tag event.event_image.url, class: 'card-img-top' %>
      <% else %>
        <%= image_tag 'img-empty.png' %>
      <% end %>

      <div class="card-body">
        <h5 class="card-title"><%= event.name %></h5>
        <p class="card-text small"><%= l(event.start_date.to_date) %></p>
        <p class="card-text small"><%= number_to_currency(event.registration_price_for(Attendance.new, :gateway)) %></p>

        <%= link_to new_event_attendance_path(event), class: 'event-action-item' do %>
          <i class="fa fa-plus-square"></i>
          <%= t('attendandes.new.title') %>
        <% end %>

        <%= link_to event_path(event), class: 'float-right' do %>
          <i class="fas fa-cogs"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
