= form_for event, class: 'form-horizontal' do |form|
  %div{class: 'row'}
    %div{class: 'col-xs-8 col-md-offset-2'}
      #container
        %h3= t('events.form.event_basics')
        .field{class: 'form-field'}
          = form.label :name, class: 'control-label'
          = form.text_field :name, class: 'form-control'
        .field{class: 'form-field'}
          = form.label :attendance_limit, class: 'control-label'
          = form.text_field :attendance_limit, class: 'form-control'
        .field{class: 'form-field'}
          = form.label :main_email_contact, class: 'control-label'
          = form.text_field :main_email_contact, class: 'form-control'
        .field{class: 'form-field'}
          = form.label :days_to_charge, class: 'control-label'
          = form.text_field :days_to_charge, class: 'form-control'

  %div{class: 'row'}
    %div{class: 'col-xs-8 col-md-offset-2'}
      #container
        %h3= t('events.form.event_core')
        .field{class: 'form-field'}
          = form.label :start_date, class: 'control-label'
          = form.text_field :start_date, class: 'form-control datepicker'
        .field{class: 'form-field'}
          = form.label :end_date, class: 'control-label'
          = form.text_field :end_date, class: 'form-control datepicker'
        .field{class: 'form-field'}
          = form.label :full_price, class: 'control-label'
          = form.text_field :full_price, class: 'form-control'
        .field{class: 'form-field'}
          = form.label :link, class: 'control-label'
          = form.text_field :link, class: 'form-control'
        .field{class: 'form-field'}
          = form.label :logo, class: 'control-label'
          = form.text_field :logo, class: 'form-control'

  %div{class: 'row'}
    %div{class: 'col-xs-8 col-md-offset-2'}
      %div{class: 'pull-right'}
        = form.submit class: 'btn btn-success text-label button-spacing'
