- if event.organizers.present?
  %h4= t('events.show.organizers.list')
  %table.table
    %th= t('activerecord.attributes.attendance.first_name')
    %th= t('activerecord.attributes.attendance.email')
    %th= t('general.actions.title')
    - event.organizers.each do |user|
      %tr
        %td= link_to "#{user.last_name}, #{user.first_name}", user_path(user), method: :get
        %td= user.email
        %td= link_to t('events.show.organizers.remove'), '#', onclick: "removeOrganizer('#{user.email}', #{@event.id});", class: 'btn-sm btn-danger'
- else
  %h5= t('general.no_data')
