- if current_user.try(:organizer?) || current_user.try(:admin?)
  - if event.registration_quotas.present?
    %table.table
      %th= t('formtastic.labels.registration_quota.id')
      %th= t('formtastic.labels.registration_quota.quota')
      %th= t('formtastic.labels.registration_quota.value')
      %th= t('formtastic.labels.registration_quota.active_attendances')
      - @event.registration_quotas.each do |quota|
        %tr{ id: "quota_#{quota.id}" }
          %td= quota.id
          %td= quota.quota
          %td= quota.price
          %td= quota.attendances.active.count
