- if current_user.present? && !current_user.try(:organizer?) && current_user.try(:registrations_for_event, event).present?
  %p Clique #{link_to "aqui", attendance_path(@last_attendance_for_user)} para verificar o status de sua inscrição em #{event.name}.

- if current_user.try(:organizer?) || (event.can_add_attendance? && current_user.try(:registrations_for_event, event).blank?)
  %p Clique #{link_to "aqui", new_event_attendance_path(event.id)} para se inscrever para #{event.name}.
- elsif event.can_add_attendance?
  %p Caso deseje adicionar outra inscrição para outra pessoa, preencha o formulário #{link_to "aqui", new_event_attendance_path(event)}.
- else
  %p Inscrições encerradas. O evento chegou no limite máximo de participantes.

- if current_user.try(:organizer?)
  - if event.registration_quotas.present?
    %h4= t('formtastic.labels.registration_quota.title')
    %table.table
      %th= t('formtastic.labels.registration_quota.id')
      %th= t('formtastic.labels.registration_quota.quota')
      %th= t('formtastic.labels.registration_quota.value')
      %th= t('formtastic.labels.registration_quota.active_attendances')
      - @event.registration_quotas.each do |quota|
        %tr{ id: "quota_#{quota.id}" }
          %td= quota.id
          %td= quota.quota
          %td= quota.price
          %td= quota.attendances.active.count

  - if event.registration_periods.present?
    %h4= t('formtastic.labels.registration_period.title')
    %table.table
      %th= t('formtastic.labels.registration_period.id')
      %th= t('formtastic.labels.registration_period.start_at')
      %th= t('formtastic.labels.registration_period.end_at')
      %th= t('formtastic.labels.registration_period.value')
      - @event.registration_periods.each do |period|
        %tr{ id: "period_#{period.id}" }
          %td= period.id
          %td= l(period.start_at)
          %td= l(period.end_at)
          %td= period.price_for
