%h1
  = t('events.new.title')

= semantic_form_for(@event) do |form|
  = form.inputs :event_basics do
    = form.input :name, required: true, input_html: { tabindex: autotab }
    = form.input :attendance_limit, input_html: { tabindex: autotab }

  = form.inputs :event_core do
    = form.input :start_date, as: :string, input_html: { class: 'datepicker' }
    = form.input :end_date, as: :string, input_html: { class: 'datepicker' }
    = form.input :full_price
    = form.input :price_table_link, required: false
    = form.input :link, required: false
    = form.input :logo, required: false

  = form.actions do
    = form.action(:submit, label: t('events.new.submit'), button_html: { tabindex: autotab, class: 'col-lg-2 btn btn-success' })

= javascript_include_tag 'events/new'
