= stylesheet_link_tag 'events/show'

%section{class: 'event-details-box'}
  %h1= @event.name
  %h4= "#{l(@event.start_date, format: :date)} #{t('title.until')} #{l(@event.end_date, format: :date)}"
  %h4= "#{t('event.show.attendance_limit', value: @event.attendance_limit || t('events.no_limit'))}"
  %h4= "#{t('event.show.full_price', value: number_to_currency(@event.full_price))}"

%hr

%section
  %div
    = render partial: 'registration_periods/periods_list', locals: { event: @event }
    = link_to t('registration_periods.new.title'), new_event_registration_period_path(@event), class: 'btn btn-primary'


  %hr

  %div
    = render partial: 'registration_quotas', locals: { event: @event }

  %hr

  %div
    %h4= t('actions.registration')
    = render partial: 'registrations', locals: { event: @event }
