- title t('title.transfer')
.auto_focus

= semantic_form_for([@event, @transfer], class: :container) do |form|
  = form.inputs do
    #origin.badge.left
      = form.input('origin_id', as: :select, label: t('formtastic.labels.transfer.origin_id'), collection: attendance_as_select(@origins))
      %div.feedback
        = render partial: 'shared/badge', locals: {attendance: @transfer.origin}
    #destination.badge.right
      = form.input('destination_id', as: :select, label: t('formtastic.labels.transfer.destination_id'), collection: attendance_as_select(@destinations))
      %div.feedback
        = render partial: 'shared/badge', locals: {attendance: @transfer.destination}
    = form.actions(class: 'arrow_box center') do
      = form.action(:submit, label: :new_transfer, button_html: {tabindex: autotab, disabled: !@transfer.valid? , id: 'transfer_submit'})
