<html>
  <body>
    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'devise/mailer/greetings', receiver_name: @resource.full_name %>

      <p><%= I18n.t('devise.mailer.reset_password_instructions.message') %></p>
      <p><%= link_to t('devise.mailer.reset_password_instructions.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

      <p><%= t('devise.mailer.reset_password_instructions.warning_first_paragraph') %></p>
      <p><%= t('devise.mailer.reset_password_instructions.warning_second_paragraph') %></p>

      <%= render 'devise/mailer/email_signature' %>
    </div>
  </body>
</html>
