<html>
  <body>
    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'devise/mailer/greetings', receiver_name: @resource.full_name %>

      <p><%= I18n.t('devise.mailer.unlock_instructions.first_paragraph') %></p>
      <p><%= I18n.t('devise.mailer.unlock_instructions.second_paragraph') %></p>

      <p><%= link_to I18n.t('devise.mailer.unlock_instructions.link_text'), unlock_url(@resource, unlock_token: @token) %></p>

      <%= render 'devise/mailer/email_signature' %>
    </div>
  </body>
</html>
