- @registration_token ||= params[:registration_token]

- if can? :update, @event
  %div{class: 'container form-field'}
    %div{class: 'row'}
      %div.payment-type
        %label= t('formtastic.labels.attendance.payment_type')
        = select_tag :payment_type, options_for_select(Invoice::TYPES, @attendance.payment_type)

= form.inputs :attendance_personal do
  = form.input :first_name, required: true, input_html: { tabindex: autotab }
  = form.input :last_name, required: true, input_html: { tabindex: autotab }
  = form.input :badge_name, input_html: { tabindex: autotab }
  = form.input :gender, as: :select, collection: Gender.options_for_select, input_html: { tabindex: autotab }
  - if I18n.locale == :pt
    = form.input :cpf, required: true, input_html: { tabindex: autotab }

= form.inputs :attendance_address do
  = form.input :country, required: true, as: :country, priority_countries: [:BR], input_html: { tabindex: autotab }
  = form.input :city, required: true, input_html: { tabindex: autotab }
  = form.input :state, required: true, input_html: { tabindex: autotab }
  = form.input :email, required: true, input_html: { tabindex: autotab }
  = form.input :phone, required: true, input_html: { tabindex: autotab }

= form.inputs :professional_information do
  = form.input :organization, input_html: { tabindex: autotab }
  = form.input :organization_size, as: :select, collection: organization_size_options, input_html: { tabindex: autotab }
  = form.input :job_role, input_html: { tabindex: autotab }
  = form.input :years_of_experience, as: :select, collection: year_of_experience_options, input_html: { tabindex: autotab }
  = form.input :experience_in_agility, as: :select, collection: experience_in_agility_options, input_html: { tabindex: autotab }

= form.inputs :educacional_information do
  = form.input :school, input_html: { tabindex: autotab }
  = form.input :education_level, as: :select, collection: education_level_options, input_html: { tabindex: autotab }

=form.inputs 'Desconto' do
  %label= I18n.t('attendances.new.form.token_field')
  = text_field_tag :registration_token, @attendance.token, placeholder: I18n.t('formtastic.fields.token.placeholder'), class: 'token-field'

%div{class: 'agreed-message'}
  #flash_notice= t('flash.registration.attendance')

:javascript
  (function($) {

    function updateTotal() {
      var total = toFloat($("td#registration_price").text());
      total += toFloat($("td#discount").text());
      $("td#total").text(integerToCurrency(total));
    }

    function toFloat(text) {
      var match = /R\$ (-?\d+),\d+/.exec(text);
      return parseFloat(match[1]);
    }

    function integerToCurrency(value) {
      return "R$ " + value + ",00";
    }

    $(document).ready(function() {
      $("#attendance_country").bind('change', countryTriggered);

      $("#attendance_email_input input").trigger('change');
      $("#attendance_country").trigger('change');

      $(".total").show();
    })
  })(jQuery);
