- title t('title.attendances_list')

%p= t('registration.status', date: l(Time.zone.now))

= form_for attendances_list_event_attendances_path(@event), method: 'get' do
  %p= text_field_tag :search, params[:search], placeholder: t('formtastic.fields.search.placeholder'), size: 50
  %p= submit_tag 'Search', :name => nil

<br />

%table.summary
  %th= t('formtastic.labels.attendance.name')
  %th= t('formtastic.labels.attendance.organization')
  %th= t('formtastic.labels.attendance.email')
  %th= t('formtastic.labels.attendance.registration_date')
  %th= t('formtastic.labels.attendance.registration_type_id')
  %th= t('formtastic.labels.attendance.price')
  %th= t('formtastic.labels.attendance.status')
  - @attendances_list.each do |attendance|
    %tr
      %td= "#{attendance.last_name}, #{attendance.first_name}"
      %td= attendance.organization
      %td= attendance.email
      %td= l(attendance.registration_date)
      %td= attendance.registration_type.type_title
      %td= number_with_precision(attendance.registration_type.price(Date.today), precision: 2)
      %td= attendance.status
