%div{class: 'row'}
  %div{class: 'col-xs-12 col-sm-4 col-sm-offset-1'}
    %h4{class: 'row'}
      %span{class: 'col-xs-12'}
        = "#{t('attendances.summary.registration_total')}: #{@attendances_list.count} inscrições"
    %h4{class: 'row'}
      %span{class: 'col-xs-12'}
        = "#{t('registration_group.paid_in_advance', count: @reserved_total)}: #{@reserved_total} inscrições"
    %h4{class: 'row'}
      %span{class: 'col-xs-12'}
        = "#{t('event.average_ticket')}: #{number_to_currency(@event.average_ticket)}"

    %div{class: 'row'}
      %span{class: 'col-xs-3'}= render 'reports_menu', event: @event

    %div{class: 'row top10'}
      %span{class: 'col-xs-6'}
        = check_box_tag 'waiting', 'waiting', true, onclick: "submitSearch(#{@event.id});"
        = label_tag 'waiting', "#{t('attendance.enum.status.waiting')} (#{@waiting_total})"
      %span{class: 'col-xs-6'}
        = check_box_tag 'pending', 'pending', true, onclick: "submitSearch(#{@event.id});"
        = label_tag 'pending', "#{t('attendance.enum.status.pending', count: @pending_total)} (#{@pending_total})"

    %div{class: 'row'}
      %span{class: 'col-xs-6'}
        = check_box_tag 'accepted', 'accepted', true, onclick: "submitSearch(#{@event.id});"
        = label_tag 'accepted', "#{t('attendance.enum.status.accepted', count: @accepted_total)} (#{@accepted_total})"
      %span{class: 'col-xs-6'}
        = check_box_tag 'paid', 'paid', true, onclick: "submitSearch(#{@event.id});"
        = label_tag 'paid', "#{t('attendance.enum.status.paid', count: @paid_total)} (#{@paid_total})"

    %div{class: 'row'}
      %span{class: 'col-xs-6'}
        = check_box_tag 'showed_in', 'showed_in', true, onclick: "submitSearch(#{@event.id});"
        = label_tag 'showed_in', "#{t('attendance.enum.status.showed_in', count: @accredited_total)} (#{@accredited_total})"

      %span{class: 'col-xs-6'}
        = check_box_tag 'cancelled', 'cancelled', false, onclick: "submitSearch(#{@event.id});"
        = label_tag 'cancelled', "#{t('attendance.enum.status.cancelled', count: @cancelled_total)} (#{@cancelled_total})"

    %div{class: 'row top20'}
      %div{class: 'col-xs-12'}
        = label_tag t('formtastic.fields.search.placeholder'), nil, class: 'control-label'
        = text_field_tag :search, params[:search], class: 'form-control'

    %div{class: 'row top10'}
      %div{class: 'col-xs-2'}
        = link_to t('attendances.index.search'), '#', onclick: "submitSearch(#{@event.id});", class: 'btn btn-sm btn-primary'
      %div{class: 'col-xs-6'}
        = link_to t('actions.download_csv'), search_attendances_path(event_id: @event, format: 'csv', paid: 'true'), class: 'btn btn-sm btn-success'

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6'}
      %div{ id: 'burnup_div', class: 'small-attendance-chart top-minus-50', 'data-ideal' => @burnup_registrations_data.ideal.to_json, 'data-actual' => @burnup_registrations_data.actual.to_json }

%br