%div.attendances-actions
  - if attendance.confirmable?
    = button_to t('attendances.actions.confirm'), change_status_event_attendance_path(event, attendance, :confirm), method: :patch, class: 'confirm btn btn-primary', data: { confirm: t('general.confirm', event: attendance.event_name) }
  - if attendance.cancellable?
    = button_to t('attendances.actions.cancel'), event_attendance_path(event, attendance), method: :delete, class: 'remove btn btn-danger', data: { confirm: t('general.confirm', event: attendance.event_name) }
  - if attendance.transferrable?
    = link_to t('attendances.actions.transfer'), new_event_transfer_path(event, attendance, transfer: { origin_id: attendance.id }), class: 'btn btn-success'
  - if attendance.recoverable?
    = link_to t('attendances.actions.recover'), change_status_event_attendance_path(event, attendance, :recover), method: :patch, class: 'btn btn-success'
  - if attendance.waiting?
    = link_to t('attendances.actions.dequeue'), change_status_event_attendance_path(event, attendance, :dequeue), method: :patch, class: 'btn btn-success'
