%div{id: 'attendances_list'}
  %table.table
    %th= t('formtastic.labels.attendance.name')
    %th= t('formtastic.labels.attendance.organization')
    %th= t('formtastic.labels.attendance.group')
    %th= t('formtastic.labels.attendance.email')
    %th= t('formtastic.labels.attendance.city')
    %th= t('formtastic.labels.attendance.state')
    %th= t('formtastic.labels.attendance.payment_type')
    %th= t('formtastic.labels.attendance.registration_date')
    %th= t('formtastic.labels.attendance.registration_value')
    %th= t('formtastic.labels.attendance.status')
    %th= t('general.actions.title')

    - attendances_list.each do |attendance|
      = render partial: 'attendances/attendance', locals: { attendance: attendance }
