%table.table
  %th= t('formtastic.labels.attendance.pending')
  %th= t('formtastic.labels.attendance.accepted')
  %th= t('formtastic.labels.attendance.paid')
  %th= t('formtastic.labels.attendance.cancelled')
  %th= t('formtastic.labels.attendance.registration_total')
  %th= t('formtastic.labels.attendance.total_without_cancelled')

  %tr
    %td= @pending_total
    %td= @accepted_total
    %td= @paid_total
    %td= @cancelled_total
    %td= @total
    %td= @total_without_cancelled

%h3 Relatórios
%ul
  %li= link_to 'Total de ativos por estado', by_state_event_attendances_path(@event)
  %li= link_to 'Total de ativos por cidade', by_city_event_attendances_path(@event)
  %li= link_to 'Total de ativos na última quizena', last_biweekly_active_event_attendances_path(@event)
