%div.attendances-actions
  - if (can? :confirm, attendance) && (attendance.confirmable?)
    = button_to 'Confirmar inscrição', confirm_attendance_path(attendance), method: :put, class: 'confirm btn btn-primary', data: { confirm: t('attendance.confirm_confirmation', event: attendance.event_name) }
  - if can?(:destroy, attendance) && (attendance.cancellable?)
    = button_to 'Cancelar inscrição', attendance, method: :delete, class: 'remove btn btn-danger', data: { confirm: t('attendance.cancel_confirmation', event: attendance.event_name) }
  - if can?(:transfer, attendance) && (attendance.transferrable?)
    = link_to 'Transferir inscrição', new_attendance_transfer_path(attendance, transfer: { origin_id: attendance.id }), class: 'btn btn-success'
  - if can?(:recover, attendance) && (attendance.recoverable?)
    = link_to 'Recuperar inscrição', recover_it_attendance_path(attendance), method: :put, class: 'btn btn-success'
  - if can?(:dequeue, attendance) && (attendance.waiting?)
    = link_to t('attendance.list.actions.dequeue'), dequeue_it_attendance_path(attendance), method: :patch, class: 'btn btn-success'
