%tr{ id: "attendance_#{attendance.id}" }
  %td= link_to "#{attendance.last_name}, #{attendance.first_name}", attendance_path(attendance), method: :get
  %td= attendance.organization
  %td= attendance.group_name
  %td= attendance.email
  %td= attendance.city
  %td= attendance.state
  %td= attendance.payment_type
  %td= attendance.registration_date.strftime('%d/%m/%Y %H:%M')
  %td= number_to_currency(attendance.registration_value, locale: :pt)
  %td= attendance.status
  %td
    - if attendance.pending? && attendance.grouped?
      %p= link_to t('actions.accept'), accept_it_attendance_path(event_id: @event.id, id: attendance.id), method: :put, :class => 'btn btn-success', remote: true
    - if attendance.payable?
      %p= link_to t('actions.pay'), pay_it_attendance_path(event_id: @event.id, id: attendance.id), method: :put, :class => 'btn btn-success', remote: true
    - if attendance.cancellable?
      %p= button_to t('actions.cancel'), attendance, method: :delete, class: 'remove btn btn-danger', data: { confirm: t('attendance.cancel_confirmation', event: attendance.event.name ) }
    %p= button_to t('actions.edit'), edit_event_attendance_path(event_id: @event.id, id: attendance.id), method: :get , :class => 'btn btn-primary'