<div class="row">
  <div class="col-xl-12 col-sm-4 col-sm-offset-1">
    <p class="attendance-information-header">
      <%= "#{t('attendances.summary.registration_total')}: #{@attendances_list.count} inscrições | " %>
      <%= "#{t('registration_group.paid_in_advance', count: @reserved_total)}: #{@reserved_total} inscrições | " %>
      <%= "#{t('event.average_ticket')}: #{number_to_currency(@event.average_ticket)} | " %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'waiting', 1, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'waiting', "#{t('activerecord.attributes.attendance.enums.status.waiting', count: @waiting_total)} (#{@waiting_total})" %>
  </div>
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'pending', 2, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'pending', "#{t('activerecord.attributes.attendance.enums.status.pending', count: @pending_total)} (#{@pending_total})" %>
  </div>
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'accepted', 3, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'accepted', "#{t('activerecord.attributes.attendance.enums.status.accepted', count: @accepted_total)} (#{@accepted_total})" %>
  </div>
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'paid', 4, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'paid', "#{t('activerecord.attributes.attendance.enums.status.paid', count: @paid_total)} (#{@paid_total})" %>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'confirmed', 5, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'confirmed', "#{t('activerecord.attributes.attendance.enums.status.confirmed', count: @confirmed_total)} (#{@confirmed_total})" %>
  </div>
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'showed_in', 6, true, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'showed_in', "#{t('activerecord.attributes.attendance.enums.status.showed_in', count: @accredited_total)} (#{@accredited_total})" %>
  </div>
  <div class="col-xl-3 col-sm-1 col-sm-offset-1">
    <%= check_box_tag 'cancelled', 7, false, onclick: "submitSearch(#{@event.id});" %>
    <%= label_tag 'cancelled', "#{t('activerecord.attributes.attendance.enums.status.cancelled', count: @cancelled_total)} (#{@cancelled_total})" %>
  </div>
</div>

<%= form_tag '#', class: 'form', method: :get, onsubmit: "submitSearch(#{@event.id});" do %>
  <div class="row">
    <div class='col-xl-6 form-group'>
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('attendances.index.search') %>
    </div>
    <div class="input-group-btn">
      <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
      <%= link_to search_event_attendances_path(event_id: @event, format: 'csv'), class: 'btn btn-light' do %>
        <i class="fas fa-download"></i>
      <% end %>
    </div>
  </div>
<% end %>
