%table.table
  %th
    = t('formtastic.labels.attendance.pending')
    = check_box_tag 'pending', 'pending', true
  %th
    = t('formtastic.labels.attendance.accepted')
    = check_box_tag 'accepted', 'accepted', true
  %th
    = t('formtastic.labels.attendance.paid')
    = check_box_tag 'paid', 'paid', true
  %th
    = t('formtastic.labels.attendance.cancelled')
    = check_box_tag 'cancelled', 'cancelled', false
  %th= t('formtastic.labels.attendance.registration_total')
  %th= t('formtastic.labels.attendance.total_without_cancelled')

  %tr
    %td= @pending_total
    %td= @accepted_total
    %td= @paid_total
    %td= @cancelled_total
    %td= @total
    %td= @total_without_cancelled

%h3 Relatórios
%ul
  %li= link_to 'Total de ativos por estado', by_state_event_attendances_path(@event)
  %li= link_to 'Total de ativos por cidade', by_city_event_attendances_path(@event)
  %li= link_to 'Total de ativos na última quizena', last_biweekly_active_event_attendances_path(@event)
  %li= link_to 'Agrupado por tipo de pagamento', payment_type_report_event_attendances_path(@event)
