%div{id: 'attendances_list'}
  %table{class: 'table'}
    %th= t('activerecord.attributes.attendance.full_name')
    %th= Attendance.human_attribute_name :organization
    %th= Attendance.human_attribute_name :email
    %th= Attendance.human_attribute_name :registration_group
    %th= Attendance.human_attribute_name :state
    %th= Attendance.human_attribute_name :payment_type
    %th= Attendance.human_attribute_name :registration_date
    %th= Attendance.human_attribute_name :registration_value
    %th= Attendance.human_attribute_name :status
    %th= t('general.actions.title')

    - attendances_list.each do |attendance|
      = render partial: 'attendances/attendance', locals: { event: attendance.event, attendance: attendance }
