%tr{ id: "attendance_#{attendance.id}" }
  %td= link_to "#{attendance.last_name}, #{attendance.first_name}", event_attendance_path(event, attendance), method: :get
  %td= attendance.organization
  %td= attendance.email

  %td
    - if attendance.registration_group.present?
      = link_to attendance.group_name, event_registration_group_path(event, attendance.registration_group)
  %td= attendance.state
  %td= t("report.payment_type.#{attendance.payment_type || 'nil'}")
  %td= attendance.registration_date.strftime('%d/%m/%Y %H:%M')
  %td= number_to_currency(attendance.registration_value)
  %td= t("attendance.enum.status.#{attendance.status}", count: 1)
  %td
    - if attendance.pending? && attendance.grouped?
      = link_to change_status_event_attendance_path(event, attendance, :accept), method: :patch do
        %i{class: 'fa fa-check', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('actions.accept')}

    - if attendance.payable?
      = link_to change_status_event_attendance_path(event, attendance, :pay), method: :patch do
        %i{class: 'fa fa-credit-card', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('actions.pay')}

    - if attendance.confirmable?
      = link_to change_status_event_attendance_path(event, attendance, :confirm), method: :patch do
        %i{class: 'far fa-calendar-check', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('actions.confirm')}

    - if attendance.confirmed?
      = link_to change_status_event_attendance_path(event, attendance, :mark_show), method: :patch do
        %i{class: 'far fa-id-card', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('actions.receive_credential')}

    - if attendance.cancellable?
      = link_to event_attendance_path(event, attendance), method: :delete, data: { confirm: t('attendance.cancel_confirmation', event: attendance.event_name ) } do
        %i{class: 'fa fa-ban', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('actions.cancel')}

    - if can?(:dequeue, attendance) && (attendance.waiting?)
      = link_to change_status_event_attendance_path(event, attendance, :dequeue), method: :patch do
        %i{class: 'far fa-thumbs-up', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom',  title: t('attendance.list.actions.dequeue')}

    = link_to edit_event_attendance_path(event, attendance), method: :get do
      %i{class: 'far fa-edit', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom',  title: t('actions.edit')}
