%table.table
  %th= t('formtastic.labels.attendance.pending')
  %th= t('formtastic.labels.attendance.accepted')
  %th= t('formtastic.labels.attendance.paid')
  %th= t('formtastic.labels.attendance.cancelled')
  %th= t('formtastic.labels.attendance.registration_total')
  %th= t('formtastic.labels.attendance.total_without_cancelled')

  %tr
    %td= @pending_total
    %td= @accepted_total
    %td= @paid_total
    %td= @cancelled_total
    %td= @total
    %td= @total_without_cancelled

%table.table
  %th= 'Estado'
  %th= 'Total de Inscritos'

  - @attendances_state_grouped.each do |key, value|
    %tr
      %td= key
      %td= value

%table.table
  %th= 'Cidade'
  %th= 'Total de Inscritos'

  - @attendances_city_grouped.each do |key, value|
    %tr
      %td= "#{key[0]} - #{key[1]}"
      %td= value