<% if current_user.organizer_of?(event) %>
  <td><%= render 'attendances/attendance_actions', event: event, attendance: attendance %></td>
<% end %>

<td><%= attendance.id %></td>
<td><%= link_to "#{attendance.full_name}", event_attendance_path(event, attendance) %></td>
<td><%= attendance.event_name %></td>
<td><%= attendance.organization %></td>
<td><%= attendance.email %></td>
<td>
  <% if attendance.registration_group.present? %>
    <%= link_to attendance.group_name, event_registration_group_path(event, attendance.registration_group) %>
  <% end %>
</td>

<td><%= attendance.state %></td>
<td><%= I18n.t("activerecord.attributes.attendance.enums.payment_types.#{attendance.payment_type || 'nil'}") %></td>
<td><%= I18n.l(attendance.registration_date, format: :short) %></td>
<td><%= number_to_currency(attendance.registration_value) %></td>
<td><%= I18n.t("activerecord.attributes.attendance.enums.status.#{attendance.status}", count: 1) %></td>

<% if current_user.organizer_of?(event) %>
  <td><%= render 'attendances/attendance_actions', event: event, attendance: attendance %></td>
<% end %>
