<%= form_for [event, attendance], class: 'form' do |form| %>
  <%= hidden_field_tag :registration_token, params[:registration_token] %>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= label_tag t('activerecord.attributes.attendance.payment_type') %>
      <%= select_tag :payment_type, options_for_select(payment_types_options, @attendance.payment_type), class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:name].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :email, class: 'control-label required' %>
      <%= form.text_field :email, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:email].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :cpf, class: 'control-label required' %>
      <%= form.text_field :cpf, class: 'form-control' %>
      <span class="inline-hints"><%= t('attendances.new.cpf.help') %></span>
      <span class="help-block"><%= attendance.errors[:cpf].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :first_name, class: 'control-label required' %>
      <%= form.text_field :first_name, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:first_name].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :last_name, class: 'control-label required' %>
      <%= form.text_field :last_name, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:last_name].join(', ') %></span>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :badge_name, class: 'control-label required' %>
      <%= form.text_field :badge_name, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:badge_name].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :gender, class: 'control-label' %>
      <%= form.text_field :gender, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:gender].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :country, class: 'control-label required' %>
      <%= form.country_select :country, priority_countries = ["Brazil"], options = {}, html_options = {:class => "form-control"} %>
      <span class="help-block"><%= attendance.errors[:country].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :state, class: 'control-label required' %>
      <%= form.text_field :state, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:state].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :city, class: 'control-label required' %>
      <%= form.text_field :city, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:city].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :phone, class: 'control-label required' %>
      <%= form.text_field :phone, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:phone].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :organization, class: 'control-label' %>
      <%= form.text_field :organization, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :organization_size, class: 'control-label' %>
      <%= form.select :organization_size, organization_size_options, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :job_role, class: 'control-label' %>
      <%= form.select :job_role, job_role_options, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :years_of_experience, class: 'control-label' %>
      <%= form.select :years_of_experience, year_of_experience_options, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :experience_in_agility, class: 'control-label' %>
      <%= form.select :experience_in_agility, experience_in_agility_options, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :school, class: 'control-label' %>
      <%= form.text_field :school, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= form.label :education_level, class: 'control-label' %>
      <%= form.select :education_level, education_level_options, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <%= label_tag t('attendances.new.form.token_field'), nil, class: 'control-label' %>
      <%= text_field_tag :registration_token, nil, class: 'form-control' %>
      <span class="help-block"><%= attendance.errors[:registration_group].join(', ') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-sm-6 form-group">
      <p class="agreed-message"><%= t('attendances.new.agreement.attendance') %></p>
      <p class="agreed-message"><%= t('attendances.new.agreement.workshop') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 form-group">
      <%= form.submit t('general.buttons.save'), class: 'btn btn-success text-label button-spacing' %>
    </div>
  </div>
<% end %>
