= form_for([@event, @attendance], class: 'form-horizontal') do |form|
  - @registration_token ||= params[:registration_token]

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        = label_tag t('activerecord.attributes.attendance.payment_type')
        = select_tag :payment_type, options_for_select(payment_types_options, @attendance.payment_type), class: 'form-control'

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        %h3= t('attendances.new.form.attendance_personal')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.first_name'), class: 'control-label required'
          = form.text_field :first_name, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:first_name].join(', ')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.last_name'), class: 'control-label required'
          = form.text_field :last_name, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:last_name].join(', ')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.badge_name'), class: 'control-label'
          = form.text_field :badge_name, class: 'form-control'
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.gender'), class: 'control-label'
          = form.select :gender, Gender.options_for_select
        .field{class: 'form-field'}
          = form.label :cpf, class: 'control-label required'
          = form.text_field :cpf, class: 'form-control'
          .div{class: 'inline-hints'}
            = t('formtastic.hints.attendance.cpf')
          .div{class: 'error-field'}
            = @attendance.errors[:cpf].join(', ')

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        %h3= t('attendances.new.form.attendance_address')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.country'), class: 'control-label required'
          = form.country_select :country, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:country].join(', ')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.city'), class: 'control-label required'
          = form.text_field :city, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:city].join(', ')
        .field{class: 'form-field'}
          = form.label t('event_attendances.form.state'), class: 'control-label required'
          = form.text_field :state, class: 'form-control', maxlength: 2
          .div{class: 'error-field'}
            = @attendance.errors[:state].join(', ')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.email'), class: 'control-label required'
          = form.text_field :email, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:email].join(', ')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.phone'), class: 'control-label required'
          = form.text_field :phone, class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:phone].join(', ')

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        %h3= t('attendances.new.form.professional_informations')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.organization'), class: 'control-label'
          = form.text_field :organization, class: 'form-control'
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.organization_size'), class: 'control-label'
          = form.select :organization_size, organization_size_options
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.job_role'), class: 'control-label'
          = form.select :job_role, job_role_options
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.years_of_experience'), class: 'control-label'
          = form.select :years_of_experience, year_of_experience_options
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.experience_in_agility'), class: 'control-label'
          = form.select :experience_in_agility, experience_in_agility_options

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        %h3= t('attendances.new.form.educacional_information')
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.school'), class: 'control-label'
          = form.text_field :school, class: 'form-control'
        .field{class: 'form-field'}
          = form.label t('activerecord.attributes.attendance.education_level'), class: 'control-label'
          = form.select :education_level, education_level_options

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      .form-background
        %h3= t('activerecord.attributes.attendance.discount')
        .field{class: 'form-field'}
          = label_tag t('attendances.new.form.token_field')
          = text_field_tag :registration_token, @attendance.token, placeholder: I18n.t('formtastic.fields.token.placeholder'), class: 'form-control'
          .div{class: 'error-field'}
            = @attendance.errors[:registration_group].join(', ')

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      %p{align: 'justify', class: 'agreed-message'}= t('flash.registration.attendance')
      %p{align: 'justify', class: 'agreed-message'}= t('flash.registration.workshop')

  %div{class: 'row'}
    %div{class: 'col-xs-12 col-sm-6 col-sm-offset-3'}
      = form.submit class: 'btn btn-success text-label button-spacing pull-right'