%div{class: 'dropdown'}
  %span{class: 'btn btn-sm btn-info'}= t('report.button.title')
  %div{class: 'dropdown-content'}
    %p= link_to t('attendances.index.reports.active_by_state'), by_state_event_attendances_path(event)
    %p= link_to t('attendances.index.reports.active_by_city'), by_city_event_attendances_path(event)
    %p= link_to t('attendances.index.reports.active_last_biweek'), last_biweekly_active_event_attendances_path(event)
    %p= link_to t('attendances.index.reports.grouped_by_payment_type'), payment_type_report_event_attendances_path(event)
    %p= link_to t('report.attendance_organization_size.title'), reports_attendance_organization_size_path(event)
    %p= link_to t('report.attendance_years_of_experience.title'), reports_attendance_years_of_experience_path(event)
    %p= link_to t('report.attendance_job_role.title'), reports_attendance_job_role_path(event)
    %p= link_to t('attendance.reports.registrations_burnup'), burnup_registrations_path(event)
