%div{class:'container'}
  %h3= t('attendances.index.title')

  = render partial: 'attendances_summary'

  = hidden_field_tag :event_id, @event.id

  %div{class:'row'}
    %div{class:'col-xs-6'}
      .field{class: 'form-field'}
        = label_tag t('formtastic.fields.search.placeholder'), nil, class: 'control-label'
        = text_field_tag :search, params[:search], class: 'form-control'
  %div{class:'row'}
    %div{class:'col-xs-6'}
      .field{class: 'form-field'}
        = link_to t('attendances.index.search'), '#', onclick: "submitSearch(#{@event.id});", class: 'btn btn-sm btn-primary'
        = link_to t('actions.download_csv'), search_attendances_path(event_id: @event, format: 'csv', paid: 'true'), class: 'btn btn-sm btn-success'

  %div{class:'row'}
    %div{class:'col-xs-12'}
      %div{id: 'attendances_list'}
        = render partial: 'attendances_list', locals: { attendances_list: @attendances_list }

= javascript_include_tag 'attendances/index'
