= form_for attendances_path, method: 'get', html: {class: 'form-inline'} do
  %h3 Resumo

  = render partial: 'attendances_summary'

  %h3 Inscritos ativos

  - title t('title.attendances_list')

  %p= t('registration.status', date: l(Time.zone.now))


  = hidden_field_tag :event_id, @event.id
  %div.form-group
    = text_field_tag :search, params[:search], placeholder: t('formtastic.fields.search.placeholder'), size: 50, :class => 'form-control'
    = submit_tag 'Search', :name => nil, :class => 'btn btn-primary'

<br />

= render partial: 'attendances_list', locals: { attendances_list: @attendances_list }