- title t('title.attendances_list')

%p= t('registration.status', date: l(Time.zone.now))

= form_for attendances_path, method: 'get' do
  = hidden_field_tag :event_id, @event.id
  %p= text_field_tag :search, params[:search], placeholder: t('formtastic.fields.search.placeholder'), size: 50
  %p= submit_tag 'Search', :name => nil

<br />

= render partial: 'attendances_list', locals: {attendances_list: @attendances_list}
