- title t('title.attendances_summary')

%p= t('registration.status', :date => I18n.l(Time.zone.now))
  
%table.summary
  %tr
    %th{:rowspan=>2}= t('formtastic.labels.attendee.status')
    %th{:colspan=>2}= t("attendee.status.pending")
    %th{:colspan=>2}= "Paypal"
    %th{:colspan=>2}= "BCash"
    %th{:colspan=>2}= t("registration_total.total")
  %tr
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
  - @event.registration_types.each do |registration_type|
    - attendees_for_type = @attendances.for_registration_type(registration_type)
    %tr
      %td= t(registration_type.title)
      = render partial: 'quantity_and_base_price_sum', locals: {attendees: attendees_for_type.pending }
      = render partial: 'quantity_and_base_price_sum', locals: {attendees: attendees_for_type.paid.reject{|a| a.payment_notifications.completed.paypal.empty?}}
      = render partial: 'quantity_and_base_price_sum', locals: {attendees: attendees_for_type.paid.reject{|a| a.payment_notifications.completed.bcash.empty?}}
      = render partial: 'quantity_and_base_price_sum', locals: {attendees: attendees_for_type }
  %tr.total
    %td= t("registration_total.total")
    = render partial: 'quantity_and_base_price_sum', locals: {attendees: @attendances.pending }
    = render partial: 'quantity_and_base_price_sum', locals: {attendees: @attendances.paid.reject{|a| a.payment_notifications.completed.paypal.empty?}}
    = render partial: 'quantity_and_base_price_sum', locals: {attendees: @attendances.paid.reject{|a| a.payment_notifications.completed.bcash.empty?}}
    = render partial: 'quantity_and_base_price_sum', locals: {attendees: @attendances }
