- title t('title.attendances_summary')

%p= t('registration.status', :date => I18n.l(Time.zone.now))
  
%table.summary
  %tr
    %th{:rowspan=>2}= t('formtastic.labels.attendee.status')
    %th{:colspan=>2}= t("attendee.status.pending")
    %th{:colspan=>2}= "Paypal"
    %th{:colspan=>2}= "BCash"
    %th{:colspan=>2}= t("registration_total.total")
  %tr
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
  - RegistrationType.all.each do |registration_type|
    - atendeees_for_type = @attendances.select{|a| a.registration_type == registration_type}
    %tr
      %td= t(registration_type.title)
      %td= atendeees_for_type.select{|a| a.pending?}.size
      %td= number_to_currency(atendeees_for_type.select{|a| a.pending?}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'paypal'}.size > 0}.size
      %td= number_to_currency(atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'paypal'}.size > 0}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'bcash'}.size > 0}.size
      %td= number_to_currency(atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'bcash'}.size > 0}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.size
      %td= number_to_currency(atendeees_for_type.inject(0){|s,a| s+=a.base_price})
  %tr.total
    %td= t("registration_total.total")
    %td= @attendances.select{|a| a.pending?}.size
    %td= number_to_currency(@attendances.select{|a| a.pending?}.inject(0){|s,a| s+=a.base_price})
    %td= @attendances.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'paypal'}.size > 0}.size
    %td= number_to_currency(@attendances.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'paypal'}.size > 0}.inject(0){|s,a| s+=a.base_price})
    %td= @attendances.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'bcash'}.size > 0}.size
    %td= number_to_currency(@attendances.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.select{|p| p.params[:type] == 'bcash'}.size > 0}.inject(0){|s,a| s+=a.base_price})
    %td= @attendances.size
    %td= number_to_currency(@attendances.inject(0){|s,a| s+=a.base_price})
