%h3= t('attendances.index.title')

= render partial: 'attendances_summary'

%h3= t('attendances.index.active')

- title t('title.attendances_list')

%p= t('registration.status', date: l(Time.zone.now))


= hidden_field_tag :event_id, @event.id
%div.form-group
  = text_field_tag :search, params[:search], placeholder: t('formtastic.fields.search.placeholder'), size: 50, class: 'form-control'
  = link_to 'Search', '#', onclick: "submitSearch(#{@event.id});", class: 'btn btn-primary'
  = link_to t('actions.download_csv'), search_attendances_path(event_id: @event, format: 'csv', paid: 'true'), class: 'btn btn-primary'

<br />

%div{id: 'attendances_list'}
  = render partial: 'attendances_list', locals: { attendances_list: @attendances_list }

= javascript_include_tag 'attendances/index'
