- title @attendance.event_name
%h2= t('title.attendance')

= render partial: 'shared/badge', locals: {attendance: @attendance}

= render partial: 'shared/registration_details', locals: {attendance: @attendance}

- if @attendance.grouped? && @attendance.pending?
  = render partial: 'group_registration', locals: {attendance: @attendance}
- else
  = render partial: @attendance.status, locals: {attendance: @attendance}

= render partial: 'attendance_actions', locals: {attendance: @attendance}
