- title "Instruções para votar no programa"

%p
  Por ter confirmado sua inscrição "Early Bird" no #{@attendance.event.name}, você ganhou o direito de
  votar nas sessões que você quer ver no programa da conferência! A sessão mais votada pelos
  participantes do evento terá lugar garantido no programa. Para dar o seu voto, siga as instruções
  abaixo:

%br
%br

%h2 Passo 1: Cadastre um usuário no sistema de submissões

- if @submission_system_authentication
  %p
    Você já possui conta no sistema de submissões! Pule para o passo 3
- else
  %p
    Caso você já possua uma conta de usuário no sistema de submissões, pule para o passo 2. Caso
    contrário, clique #{link_to 'aqui', "#{APP_CONFIG[:submission_system][:url]}users/signup?locale=pt", target: :blank}
    e preencha o formulário para cadastrar uma conta de usuário no sistema de submissões.

%br

%h2 Passo 2: Associe sua conta com o sistema de submissões

- if @submission_system_authentication
  %p
    Você já possui conta no sistema de submissões! Pule para o passo 3

  .authentications
    .authentication
      = image_tag "#{@submission_system_authentication.provider}_32.png", size: "32x32"
      .provider= t("authentication.providers.#{@submission_system_authentication.provider}")
      .uid= @submission_system_authentication.uid

- else
  %p
    Com uma conta de usuário criada no sistema de submissões, você precisa associá-la com sua
    inscrição para provar que já comprovou o pagamento na faixa "Early Bird". Clique no botão abaixo
    para associar sua conta e volte para esta página para ler as instruções dos próximos passos:

  = render partial: 'shared/providers', locals: { providers: ['submission_system'] }

%br

%h2 Passo 3: Habilite seu usuário para votar

- if @submission_system_authentication
  %p
    Por fim, é só clicar #{link_to 'aqui', enable_voting_attendance_path(@attendance.event, @attendance), method: :post}
    para liberar seu acesso à votação no sistema de submissões.

%br

%h2 Passo 4: Vote!

- if @submission_system_authentication
  %p
    Agora é só #{link_to "votar", "#{APP_CONFIG[:submission_system][:url]}sessions", target: :blank}
    nas suas sessões preferidas. As regras para votação são:

  %ul
    %li Você possui 5 votos
    %li Caso seja autor de uma sessão, você não poderá votar na mesma
    %li Você pode mudar seu voto enquanto o prazo de votação não terminar

  %p
    OBS: Votar em uma sessão não garante que ela seja escolhida para o programa. A equipe de organizadores
    irá escolher apenas a sessão mais votada.