- title "Instructions to vote on the program"

%p
  By confirming your registration to #{@attendance.event.name} at the Early Bird period, you have
  the right to vote on which sessions you want to see in the conference program! The session with
  the most number of votes by participants will have a guaranteed spot in the program. To vote, follow
  the instructions below:

%br
%br

%h2 Step 1: Register a user in the submissions system

- if @submission_system_authentication
  %p
    You already have a user registered at the submissions system! Skip to step 3
- else
  %p
    If you already have an account in the submissions system, you can skip to step 2.
    Otherwise, click #{link_to 'here', "#{AppConfig[:submission_system][:url]}users/signup?locale=en", target: :blank}
    and fill out the form to register a new user account in the submissions system.

%br

%h2 Step 2: Link your accounts

- if @submission_system_authentication
  %p
    You already have a user registered at the submissions system! Skip to step 3

  .authentications
    .authentication
      = image_tag "#{@submission_system_authentication.provider}_32.png", size: "32x32"
      .provider= t("authentication.providers.#{@submission_system_authentication.provider}")
      .uid= @submission_system_authentication.uid

- else
  %p
    Now that you have a valid submission system account, you have to link it with your registration
    to prove that you have already confirmed and paid for the Early Bird registration. Click the button
    below to link the accounts and come back to this page to see the next steps instructions:

  = render partial: 'shared/providers', locals: { providers: ['submission_system'] }

%br

%h2 Step 3: Enable voting for your user

- if @submission_system_authentication
  %p
    Finally, simply click #{link_to 'here', enable_voting_attendance_path(@attendance), method: :post}
    to enable access to vote in the submissions system.

%br

%h2 Step 4: Vote!

- if @submission_system_authentication

  %p
    Now you just have to #{link_to "vote", "#{AppConfig[:submission_system][:url]}sessions", target: :blank}
    for your favorite sessions. The rules for voting are:

  %ul
    %li You have 5 votes
    %li If you submitted a session, you can't vote for it
    %li You can change your vote before the voting deadline

  %p
    OBS: Voting for a session does not guarantee that it will be chosen to be part of the conference program.
    The program organizers will choose only the session that receive the most number of votes.