<div class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="breadcrumb">
          <span class="fa fa-angle-left"></span> <%= link_to t('attendances.index.title'), event_attendances_path(event_id: @event) %>
        </div>
        <h1><%= t('attendance.reports.registrations_burnup') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="burnup_div" class="attendance-chart" data-ideal='<%= @burnup_registrations_data.ideal.to_json %>' data-actual='<%= @burnup_registrations_data.actual.to_json %>'></div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    <%= javascript_include_tag 'graphs/burnup' %>
<%end%>
