<div class="container-fluid">
  <%= render 'layouts/aa' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="dropdown topnav-right">
        <% if current_user.present? && current_user.user_image.present? %>
          <%= image_tag current_user.user_image.url, size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
        <% else %>
          <%= image_tag 'img-empty.png', size: '50x50', class: 'user-avatar dropdown-toggle', 'data-toggle' => 'dropdown' %>
        <% end %>

        <div class="dropdown-menu">
          <% if current_user.present? %>
            <%= link_to t('users.account.self'), current_user, class: 'nav-link'%>
            <%= link_to t('devise.sessions.logout'), destroy_user_session_path, method: :delete, class: 'nav-link'%>
          <% else %>
            <%= link_to t('devise.sessions.login'), new_user_session_path, class: 'nav-link'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
