%ul#menu
  = link_to_menu_item(:li, t('title.events'), events_path)
  - if can? :list_archived, Event
    = link_to_menu_item(:li, t('title.archived_events'), list_archived_events_path)
  - if current_user
    = link_to_menu_item(:li, t('actions.account'), current_user)
    = link_to_menu_item(:li, t('actions.logout'), logout_path, method: :delete)
  - else
    = link_to_menu_item(:li, t('actions.login'), login_path)
