!!! 5
%html{html_attrs(I18n.locale)}

  %head
    %title
      #{@event.name} -
      = content_for?(:title) ? yield(:title) : t('title.untitled')
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{"rel" => "shortcut icon", "href" => "/favicon.ico"}/
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = yield(:head)

  %body
    #container
      #header
        = link_to image_tag("#{@event.name.parameterize}-logo.png"), @event
        .logo
          %h1= @event.name
          %strong= @event.location_and_date
        %ul#languages
          -if current_user
            %li= link_to current_user.full_name, current_user
          %li= link_to "Português", "?locale=pt"
          %li= link_to "English", "?locale=en"
        = render partial: 'layouts/menu'

      #content{ class: 'grid_12' }
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"

        - if show_title?
          %h1= yield(:title)

        = yield

      #footer Copyleft - Agile Brazil 2010-2013 - #{t('footer.help').html_safe}

    - unless AppConfig[:google].nil?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-#{AppConfig[:google][:tracker_id]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    :javascript
      $(document).ready(function() {
        $('textarea').TextAreaResizer();
        var errorInput = $('li.error :input:visible:enabled:first');
        if (errorInput.length > 0) {
          errorInput.focus();
        } else if ($('.auto_focus').length > 0) {
          $(':input:visible:enabled:first').focus();
        }
      })