<!doctype html>

<html>
  <head>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', media: 'all' %>

    <%= favicon_link_tag 'https://res.cloudinary.com/agile-alliance-brazil/image/upload/v1623599080/favicon_bgkwee.png' %>
    <title><%= I18n.t('application.title') %></title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= yield :stylesheet %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <section class="alerts">
            <%= notice %>
            <%= alert %>
            <%= error %>
          </section>
        </div>
      </div>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
