!!! 5
%html{html_attrs(I18n.locale)}

  %head
    %title
      #{@event.name} -
      = content_for?(:title) ? yield(:title) : t('title.untitled')
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}/
    %link{'rel' => 'shortcut icon', 'href' => '/favicon.ico'}/
    = csrf_meta_tag
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = yield(:head)

  %body
    #header
      = render partial: 'layouts/aa'
      %div.logo
        - if @event.present? && @event.logo.present?
          = link_to @event.link do
            = image_tag @event.logo, size: '243x100'
          - if @event.full? || @event.attendances_in_the_queue?
            %div{class: 'pull-right'}
              = image_tag 'soldout_960_720.png', size: '170x170'
        - else
          = link_to 'https://www.agilealliance.org/agilebrazil' do
            = image_tag 'agilealliance-brazil_black.png', size: '220x170'

      .container-fluid
        = render partial: 'layouts/menu'

    #content
      .container-fluid
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}", class: "alert alert-#{name}"

        %h1= yield(:title)

        = yield

    #footer
      .container
        - if @event.present?
          %p #{t('footer.help', email: @event.main_email_contact)}
        - else
          %p #{t('footer.help', email: 'inscricoes@agilebrazil.com')}
        %p
          %strong Copyleft - Agile Brazil 2010 - 2017

    - unless APP_CONFIG[:google].nil?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-#{APP_CONFIG[:google][:tracker_id]}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    :javascript
      $(document).ready(function() {
        $('textarea').TextAreaResizer();
        var errorInput = $('li.error :input:visible:enabled:first');
        if (errorInput.length > 0) {
          errorInput.focus();
        } else if ($('.auto_focus').length > 0) {
          $(':input:visible:enabled:first').focus();
        }
      })

  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js'
