!!! 5
%html{html_attrs(I18n.locale)}

  %head
    %title= content_for?(:title) ? yield(:title) : t('title.events')
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}/
    %link{'rel' => 'shortcut icon', 'href' => '/favicon.ico'}/
    = csrf_meta_tag
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = yield(:head)

  %body
    #header
      = render partial: 'layouts/aa'
      .container-fluid
        %div.logo
          = link_to 'https://www.agilealliance.org/agilebrazil' do
            = image_tag 'agilealliance-brazil_black.png', size: '220x170'
        = render partial: 'layouts/menu'

    #content
      .container-fluid
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        = yield

    #footer
      .container-fluid
        - if @event.present?
          %p #{t('footer.help', email: @event.main_email_contact)}
        - else
          %p #{t('footer.help', email: 'inscricoes@agilebrazil.com')}
      %p
        %strong Copyleft - Agile Brazil 2010 - 2016

    - unless APP_CONFIG[:google].nil?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try{
          var pageTracker = _gat._getTracker("UA-#{APP_CONFIG[:google][:tracker_id]}");
          pageTracker._trackPageview();
        } catch(err) {}
